@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

h3 {
    font-family: 'Girassol', cursive;
}
#movie_picture {
    height: 400px;
    width: auto;
}

#seat {
    width: auto;
    height: 8rem;
}